<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Lists</title>
</head>
<body>
  <main>
    <div>
      <h1>{{todo_items.name}}</h1>
      <p>
        <a href="{% url "todo_list_update" todo_items.id %}">edit</a>
      </p>
      <p>
        <a href="{% url "todo_list_delete" todo_items.id %}">Delete</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <th>Task</th>
          <th>Due Date</th>
          <tbody>
            {% for todoitems in todo_items.items.all%}
            <tr>
              <td><a href="{% url "todo_item_update" todoitems.id %}">{{todoitems.task}}</a></td>
              <td>{{todoitems.due_date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </tbody>
        </thead>
      </table>
    </div>
  </main>
</body>
</html>
